<!DOCTYPE html>
<html>
  <head>
    <title>Все заявки</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Все заявки</h1>
    <table>
        <tr>
         <th>ID</th>
         <th>short description</th>
         <th>description</th>
         <th>some number</th>
       </tr>
        <% if (locals.order_list) { %>
        <% for (var i = 0; i < order_list.length; i++ ) { %>
            <tr>
                <th><%= order_list[i]._id %></th>
                <th><%= order_list[i].short_desc %></th>
                <th><%= order_list[i].desc %></th>
                <th><%= order_list[i].some_num %></th>
            </tr>
        <% } %>
        <%}%>
    </table>
  

  </body>
</html>
