<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form name="order_form" method="POST" action="/orders/create">
    <table>
        <tr>
          <td>Short description</td>
          <td><input type="text" name="short_desc" ></td>
        </tr>
        <tr>
          <td>Description</td>
          <td><input type="text" name="desc" ></td>
        </tr>
        <tr>
          <td>Some number</td>
          <td><input type="number" name="some_num" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Save" ></td>
        </tr>
    </table>
    </form>
    <% if (locals.errors) { %>
      <% for (var i = 0; i < errors.length; i++ ) { %>
        <p><%- errors[i].msg %></p>
      <% } %>
    <%}%>
  

  </body>
</html>
