<!DOCTYPE html>
<html>
  <head>
    <title>Успех!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Ваша заявка создана под номером <%= id %> </h1>
  </body>
</html>
